.section {
  padding: 110px 0;
}

.section-top {
  padding: 110px 0 0;
}

.section-bottom {
  padding: 0 0 110px 0;
}

.leaf-left {
  position: absolute;
  top: 30%;
  left: 0;
}

.leaf-right {
  position: absolute;
  top: 70%;
  right: 0;
}
