@mixin flex-row-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-center {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.flex-full__item {
  flex: 0 0 100%;
}

.flex-half__item {
  flex: 0 0 50%;
}

.flex-quarter__item {
  flex: 0 0 25%;
}

@media screen and (max-width: 500px) {
  .flex-half__item, .flex-quarter__item {
    flex: 0 0 100%;
  }
}
